@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-7xl mx-auto py-10 sm:px-6 lg:px-8;
}
.box-action-message{
    @apply py-2 px-4 bg-green-200 border rounded mb-4;
}
.btn-secondary{
    @apply inline-flex items-center px-4 py-2 bg-blue-500 border border-gray-300 rounded-md font-semibold text-xs text-white uppercase tracking-widest shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-25 transition ease-in-out duration-150;
}
.btn-edit{
    @apply inline-flex items-center px-4 py-2 bg-green-600 border border-gray-300 rounded-md font-semibold text-xs text-white uppercase tracking-widest shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-25 transition ease-in-out duration-150;
}
.step{
    @apply font-medium px-6 border-b-2 tracking-wider py-2;
}
.active{
    @apply border-indigo-500 rounded-t bg-gray-100;
}
.btn-primary{
    @apply font-bold py-3 px-4 mt-4 rounded bg-purple-600 hover:bg-purple-900 text-white tracking-wide hover:shadow-xl inline-block uppercase hover:translate-y-1 transition duration-200
}
.box{
    @apply py-4 px-7 border
}

[x-cloak] {
    display: none;
}
